@font-face {
    font-family: 'OpenSansHebrewRegular';
    src: url('font/OpenSansHebrew-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansHebrewCondensedBold';
    src: url('font/OpenSansHebrewCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansHebrewCondensedExtraBold';
    src: url('font/OpenSansHebrewCondensed-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansHebrewCondensedLight';
    src: url('font/OpenSansHebrewCondensed-Light.ttf') format('truetype');
}

body {
    background-color: #FEFAFA;
    font-family: 'OpenSansHebrewRegular', sans-serif;

}

.hero-section {
    padding: 100px 0;
    text-align: right;
    position: relative;
}

.nav {
    height: 50px;
}

.video-wrapper {
    border-radius: 120px 120px 0px 120px;
    height: 500px;
    width: 579px;
    overflow: hidden;
    box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: auto;
    margin-top: -26px;
    margin-right: -20px;
    justify-content: start;
}

.enrollment-btn {
    background-color: #EF687E;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    position: absolute;
    top: 21px;
    right: 218px;
    box-shadow: 5px 5px 15px 0px rgba(238.99999999999994, 122.99999999999999, 122.99999999999999, 0.43);
    font-size: 23px;
    font-family: 'OpenSansHebrewCondensedExtraBold', sans-serif;

}

.enrollment-btn:hover {
    background-color: #ff476a;
    color: #F6F2F2;
}

.logo {
    position: absolute;
    top: 20px;
    right: 15px;
    height: 56px;
    width: 185px;
    margin-right: -30px;
}

.apply-btn {
    background-color: #EF687E;
    color: #fff;
    border-radius: 50px;
    box-shadow: 5px 5px 15px 0px rgba(238.99999999999994, 122.99999999999999, 122.99999999999999, 0.43);
    padding: 18px 35px;
    font-size: 24px;
    margin-top: 21px;
    margin-right: -15px;
    letter-spacing: 1px;
    font-family: 'OpenSansHebrewCondensedExtraBold', sans-serif;
}

.apply-btn:hover {
    background-color: #ff476a;
    color: #fff;
}

.first-section-content {
    width: 85%;
}

p.display-4 {
    color: #06193F;
    font-family: 'OpenSansHebrewCondensedBold', sans-serif;
    font-size: 85px;
    font-weight: 700;
    line-height: 88px;
    margin-right: -18px;
}

p.lead {
    color: #06193F;
    font-family: 'OpenSansHebrewRegular', sans-serif;
    font-size: 23px;
    line-height: 31.32px;
    letter-spacing: -0.1px;
    padding-top: 32px;
    margin-right: -14px;
    width: 92%;
}

small {
    position: absolute;
    color: #132B59;
    font-family: 'OpenSansHebrewCondensedLight', sans-serif;
    height: 80px;
    left: 80px;
    bottom: -85px;
    width: 120px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.79px;
    letter-spacing: 1.5px;
    text-align: center;
}

.arrow-img {
    position: absolute;
    color: #132B59;
    right: 273px;
    bottom: -53px;
    width: 98px;
    height: 80px;
}

.social-icons {
    position: absolute;
    top: 40px;
    left: -16px;
    display: flex;
    gap: 25px;
    font-size: 20px;
}

.social-icons a {
    background-color: transparent;
    text-decoration: none;
    color: rgb(201, 92, 128);
    text-decoration: none;
}

@media (max-width: 768px) {
    .video-wrapper {

        margin-top: 60px;

    }

    .first-section-content {
        width: 100%;
    }
}

/* second section  */
.second-display {
    font-size: 58px;
    padding-top: 15px;
    font-weight: 700;
    line-height: 81.71px;
    letter-spacing: 0.8px;
    color: #06193F;
    font-family: 'OpenSansHebrewCondensedBold', sans-serif;
}

.floating-btn.text-end:hover {
    transform: scale(1.08);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.floating-container {
    position: relative;
    min-height: 100vh;
}

.floating-container img {
    position: absolute;
    transition: transform 0.5s;
}

.whatsapp-btn {
    font-family: 'OpenSansHebrewRegular',sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50px;
    padding: 5px 24px;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: transform 0.3s;
    z-index: 999;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
}

.gradient-section {
    background-color: transparent;
    background-image: radial-gradient(at center center, #DC556B 0%, #6B1624 100%);
    color: white;
    display: flex;
    border-radius: 71px 71px 71px 71px;
    height: auto;
    padding: 60px 88px;
    padding-bottom: 90px;
    margin: 0 -30px;
    margin-top: -74px;
    position: relative;
}

.gradient-section .gradient-section-h2 {
    font-family: 'OpenSansHebrewCondensedBold', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 81.71px;
    color: #FFFFFF;
    text-align: start;
    /* padding-bottom: 10px; */
    margin-bottom: 35px;
}

.gradient-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;

    margin-right: -13px;
}

.gradient-section strong {
    color: #ffffff;
}

.image-content h4 strong {
    color: #FFFFFF;
    font-family: "Open Sans", Sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 31.32px;
    bottom: -78px;
}

.image-content h4 {
    color: #FFFFFF;
    font-family: "Open Sans Hebrew", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    bottom: -102px;
    position: absolute;
    bottom: 4%;
    left: 32%;
    z-index: 1;
}

.founder-img {
    width: 320px;
    border-radius: 0px 0px 0px 71px;
    position: absolute;
    height: 290px;
    bottom: -20px;
    left: -20px;
    margin: 20px;
    z-index: 0;
}

/* Third Section */
.card {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #F6F2F2;
    border-radius: 71px 71px 71px 71px;

}

.card img {
    width: 82%;
    display: flex;
    margin: auto;
    height: auto;
    margin-top: 30px;
    margin-right: 55px;
    border-radius: 0;
}

.card .badge {
    font-size: 23px;
    display: block;
    margin: 10px auto;
    justify-content: center;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 31.32px;
    fill: #ffffff;
    color: #ffffff;
    width: 170px;
    background-color: #EF687E;
}

.card .badge-danger {
    font-family: 'OpenSansHebrewCondensedBold', sans-serif;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 31.32px;
    fill: #ffffff;
    color: #ffffff;
    background-color: #EF687E;
    border-radius: 28px 28px 28px 28px;
    padding: 12px 32px 12px 32px;
}

.card .badge-secondary {
    font-family: 'OpenSansHebrewCondensedBold', sans-serif;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 31.32px;
    fill: #ffffff;
    color: #ffffff;
    background-color: #B9ACAC;
    border-radius: 28px 28px 28px 28px;
    padding: 12px 32px 12px 32px;
}

.card h3 {
    color: #06193F;
    font-family: 'OpenSansHebrewCondensedBold', sans-serif;
    font-size: 41px;
    font-weight: 700;
    /* margin-top: 20px; */
    line-height: 55.83px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card ul {
    padding-left: 0;
    font-size: 100%;
    margin-top: 60px;
}

.card ul li {
    font-family: 'OpenSansHebrewRegular', sans-serif;
    list-style: none;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
    margin-right: -8px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #0f1010;
}

.card ul li i {
    margin-left: 20px;
    font-size: 18px;

}

.card .icon-check {
    color: #EF687E;
    ;
}

.card .icon-cross {
    color: #46333554;
}

/* fourth section */
/* fist dive */
.fourth-section .card {
    margin-top: 50px;
}

.fourth-section .card h2 {
    font-family: 'OpenSansHebrewCondensedBold', Sans-serif;
    font-size: 41px;
    font-weight: 700;
    line-height: 55.83px;
    margin-right: 10px;
    text-align: start;
    margin-bottom: 20px;
}

.fourth-section .card p {
    color: #06193F;
    font-family: 'OpenSansHebrewRegular', Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 29.24px;

}

.icon {
    font-size: 2.5rem;
    color: #ff6b6b;
}

.puzzle-img {
    /* width: 100%; */
    display: flex;
    max-width: 350px;
    margin: 0 auto;
    margin-top: -80px;
    margin-right: 20px;
}

.header-fourth h1 {
    color: #0e0f10;
    font-family: 'OpenSansHebrewCondensedBold', Sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 81.71px;
    margin-right: -30px;
    display: flex;
    justify-content: center;
}

/* second div */
.announcement {
    padding: 2.4rem;
    margin-right: -45px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.announcement h2 {
    font-family: 'OpenSansHebrewCondensedBold', Sans-serif;
    font-size: 41px;
    font-weight: 700;
    line-height: 55.83px;
    margin-right: 0px;
    text-align: start;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.announcement p {
    color: #06193F;
    font-family: 'OpenSansHebrewRegular', Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.24px;
}

.announcement .icon {
    font-size: 2.4rem;
    margin-top: -10px;
    padding-right: 8px;
}

/* third div */
.dropdown-container {
    background: #FFEFEF;
    border-radius: 10px;
    padding: 10px;
}

.dropdown-item {
    background-color: transparent;
    color: #06193F;
    cursor: pointer;
    display: flex;
    padding: 20px 39px;
    border: 1px solid #CC9B9B;
    text-align: right;
    outline: none;
    transition: border-radius 0.3s ease, border-bottom 0.3s ease;
    border-radius: 20px;
    font-family: 'OpenSansHebrewCondensedBold', Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40.85px;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.dropdown-item.active {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    border: 1px solid #CC9B9B;
    border-radius: 0 0 20px 20px ;
    border-top: none;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.dropdown-content.show {
    max-height: 1100px;
}


.accordion-item-main {
    width: 100%;
    display: flex;
    background-color: #FBE5E5;
    padding: 25px 27px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.accordion-item-title {
    width: 50%;
    display: flex;
    align-items: center;
}

.accordion-item-img {

    width: 26px;
    height: 26px !important;
}

.accordion-item-title h1 {
    font-size: 23px;
    color: #06193F;
    font-family: 'OpenSansHebrewCondensedBold', Sans-serif;
    font-weight: 700;
    line-height: 31.32px;
    margin: 0;
    margin-right: 14px;
}

.accordion-item-time {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.accordion-item-time img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.accordion-item-time h1 {
    font-size: 23px;
    color: #9C6060;
    font-family: "Open Sans Hebrew", Sans-serif;
    font-weight: 400;
    line-height: 31.32px;
    margin: 0;
    margin-right: 14px;
}

.third .text-end {
    color: #06193F;
    font-family: 'OpenSansHebrewCondensedBold', Sans-serif;
    font-size: 41px;
    font-weight: 700;
    line-height: 55.83px;
}

/* fourth div */
.fourth {
    padding: 50px 0;
    height: 600px;
    width: 100%;
    justify-content: center;
    display: flex;
}

.fourth .carousel {
    height: 345px;
    width: 345px;
}

.slider-img {
    border-radius: 15px;
}

.content-section .content-h2 {
    font-family: 'OpenSansHebrewCondensedBold', Sans-serif;
    font-size: 41px;
    font-weight: 700;
    line-height: 55.83px;
    letter-spacing: -0.3px;
    text-align: start;
    margin-bottom: 10px;
}

.content-section p {
    line-height: 1.2;
    margin-right: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 60%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    right: 100%;
}

.carousel-control-next {
    right: -30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background: none;
    color: #ab140f;
    font-size: 18px;
    padding: 3px;
    justify-content: center;
}

.carousel-indicators {
    bottom: -70px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d06a6a;
}

.carousel-indicators .active {
    background-color: #ab140f;
}

/* fifth div */
.fifth {
    margin: auto;
    padding-bottom: 10px;
    height: auto;
}

.fifth .row {
    padding: 50px;
    display: flex;
    max-width: 1240px;
    border-radius: 71px 71px 71px 71px;
    align-items: center;
    justify-content: center;
    background-color: #FCDADA;
    margin: -72px;
    margin-top: 10px;
}

.fifth .image-container img {
    width: 88%;
    height: auto;
    margin-right: 50px;
    margin-top: 30px;
}

/* fifth section */
.fifth-section .video-thumbnail {
    position: relative;
    cursor: pointer;
    height: 350px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.fifth-section .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    opacity: 0.8;
}

.fifth-section .rating-stars {
    color: #ffc107;
    font-size: 24px;
    margin-top: 10px;
}

.fifth-section .card1 .card-title1 {
    font-family: 'OpenSansHebrewCondensedExtraBold',sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 31.32px;
    letter-spacing: 1.6px;
    color: #06193F;
}

.fifth-section .card1 .card-body1 ul {
    text-align: center;
    color: #06193F;
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 23.15px;
}

/* sixth section */
.sixth-section .video-section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.sixth-section .video-wrapper1 {
    width: 100%;
    max-width: 960px;
    aspect-ratio: 16 / 9;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: black;
}

.sixth-section .video-section1 h1 {
    font-family: 'OpenSansHebrewCondensedBold',sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 81.71px;
    color: #06193F;
    padding-bottom: 30px;
}

.sixth-section .video-wrapper1 iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* seventh section */
.seventh-section .video-thumbnail {
    position: relative;
    cursor: pointer;
    height: 350px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.seventh-section .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    opacity: 0.8;
}

.seventh-section .rating-stars {
    color: #e19300;
    font-size: 24px;
    margin-top: 10px;
}

.seventh-section .card1 .card-title1 {
    font-family: 'OpenSansHebrewCondensedExtraBold',sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 31.32px;
    letter-spacing: 1.6px;
    color: #06193F;
}

.seventh-section .card1 .card-body1 ul {
    text-align: center;
    color: #06193F;
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 23.15px;
}

/* eighth section */
#eighth-section .header {
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 81.71px;
    color: #06193F;
    text-align: center;
    padding: 100px;
    padding-top: 200px;
}

#eighth-section .card2 {
    border: none;
    border-radius: 48px;
    box-shadow: 1px 0px 10px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    background-color: #FFFFFF;
}

#eighth-section .card2 img {
    width: 85px;
    padding-top: 33px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#eighth-section .card2 h2 {
    font-family: 'OpenSansHebrewCondensedBold',sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding: 0px 4px;
    line-height: 40.85px;
    color: #06193F;
}

#eighth-section .card2 .card-p {
    font-family: 'OpenSansHebrewRegular',sans-serif;
    padding: 44px 0px 0px 0px;
    color: #06193F;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.24px;
}

#eighth-section .card2 .card-footer {

    border-radius: 0px 0px 48px 48px;
    background-color: #F9F0F0;
    height: 240px;
    max-width: 100%;
}

#eighth-section .card-footer .card-footer-h2 {
    font-size: 20px;
    font-family: 'OpenSansHebrewCondensedBold',sans-serif;
    color: #B74F4F;
    display: flex;
    padding: 10px;
    justify-content: start;
    margin: 0;
}

#eighth-section .card-footer .card-footer-content {
    color: #06193F;
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.24px;
}

#eighth-section .card-footer .card-footer-p {
    color: #06193F;
    font-family: "OpenSansHebrewRegular", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
}

/* ninth section */
.ninth-section {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.ninth-section .card-custom {
    background-color: transparent;
    background-image: radial-gradient(at center left, #DC556B 30%, #6B1624 100%);
    color: white;
    border-radius: 71px;
    height: auto;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 98px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ninth-section .card-custom .super-Woman {
    position: absolute;
    top: 50px;
    left: 12px;
    border-radius: 71px 71px 71px 71px;
    width: 420px;
    height: 517px;
    overflow: hidden;
}

.card-custom-h1 h1 {
    font-family: 'OpenSansHebrewCondensedBold',sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 81.71px;
    margin-bottom: 35px;
    color: #FFFFFF;
}

.card-custom-p {
    font-family: "OpenSansHebrewRegular", Sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    width: 97%;
    line-height: 27.24px;
}

.card-custom-p1 {
    color: #FFFFFF;
    font-family: "OpenSansHebrewRegular", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 95%;
    line-height: 27.24px;
}

.card-custom-p2 {
    color: #FFFFFF;
    font-family: "OpenSansHebrewRegular", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 90%;
    line-height: 27.24px;
}

.card-custom-p3 {
    color: #FFFFFF;
    font-family: "OpenSansHebrewRegular", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 90%;
    line-height: 27.24px;
}

/* tenth-section */
.tenth-section {
    position: relative;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.tenth-section .container {

    width: 100%;
}

.tenth-section .zx {
    background-color: #D6A3A32B;
    margin: auto;
    margin-top: -180px;
    padding-top: 200px;
    border-radius: 85px;
    width: 100%;
    z-index: 1;
}

.row h2 {
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 81.71px;
    color: #06193F;
    text-align: center;
    margin-bottom: 30px;

}

.tenth-section .offer-card {
    background-color: #FEFAFA;
    display: flex;
    flex-direction: column;
    width: 585px;
    border-radius: 27px 27px 27px 27px;
    box-shadow: 0px 0px 10px 5px rgba(100.00000000000001, 17.999999999999964, 17.000000000000007, 0.1803921568627451);
    padding-top: 43px;
    padding-bottom: 43px;
    padding-left: 34px;
    padding-right: 34px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.tenth-section .offer-card-a a {
    background-color: transparent;
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
    fill: #FEFAFA;
    color: #FEFAFA;
    background-image: linear-gradient(29deg, #EF687E 0%, #6B1624 100%);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 68px 68px 68px 68px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    letter-spacing: 1px;
}

.offer-card-a {
    margin: -50px 0px 0px 0px;
}

.offer-card-h2 h2 {
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 44.94px;
    color: #06193F;
    margin-top: 57px;
    margin-bottom: 40px;
}

.offer-card-button {
    background-color: transparent;
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 31.32px;
    background-image: linear-gradient(29deg, #EF687E 0%, #6B1624 100%);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 68px 68px 68px 68px;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.5);
    padding: 14px 32px 14px 32px;
    width: 100%;
    text-align: center;
}

.offer-card-button:hover{
    background-color: transparent;
    color: #FFFFFF;
    background-image: linear-gradient(180deg, #F5F5F5E0 0%, #A71337 100%);
}
.offer-card-p {
    margin-top: 93px;
    text-align: center;
    color: #06193F;
    font-family: "OpenSansHebrewRegular", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.79px;
    width: 96%;
}
/* eleventh section */
.success-card {
    border: 1px solid #B9B9B9;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FEFAFA;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.success-card-h5 h5 {
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    letter-spacing: 0.2px;
}

.success-card-h2 h2 {
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.6px;
    color: #000000;
    display: flex;
    width: 98%;
    justify-content: center;
    align-items: center;
}

.success-card p {
    font-size: 1rem;
    margin-top: -4px;
    margin-bottom: 10px;
}

.success-card .stars {
    color: #de9905;
    font-size: 28px;
    margin-bottom: 10px;
    letter-spacing: -0.5px;
    margin-top: -28px;
}

.success-card-p p {
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #000000;
}

.eleventh-section iframe {
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

/* twelth section */
.twelth-setion .custom-card {
    background-color: transparent;
    background-image: radial-gradient(at center center, #DE5D72 0%, #6B1624 100%);
    color: white;
    border-radius: 71px 71px 71px 71px;
    padding-top: 60px;
    padding-bottom: 44px;
    padding-left: 70px;
    padding-right: 79px;
    margin: auto;
    position: relative;
}

.twelth-setion .header-content {
    color: #FEFAFA;
    font-family: "OpenSansHebrewRegular", Sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 31.32px;
}

.twelth-setion .header-heading h2 {
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 81.71px;
    margin-top: -13px;
    padding-bottom: 20px;
    color: #FEFAFA
}

.twelth-setion .image-container {
    position: absolute;
    top: -65px;
    left: 0;
    width: 410px;
    height: 65%;
    z-index: 10;
}

.twelth-setion .image-container img {
    width: 100%;
    height: 100%;
}


.twelth-setion .custom-card-p {
    color: #FFFFFF;
    font-family: "OpenSansHebrewRegular", Sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 31px;
}

.twelth-setion .custom-card-pb {
    color: #FFFFFF;
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 31px;
}

@media (max-width: 768px) {
    .twelth-setion .custom-card {
        padding: 20px;
        text-align: center;
    }

    .twelth-setion .image-container {
        position: relative;
        width: 120px;
        margin: auto;
        display: block;
    }
}

/* thirtieth section */
.thirtirth-section .header h2 {
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 81.71px;
    margin-left: 46px;
    color: #06193F;
    
}


.thirtirth-section .accordion-item {
    border: none;
    margin-bottom: 10px;
    border-radius: 32px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* Prevents visual breaks */
    transition: background-color 0.3s ease;
}

.thirtirth-section .accordion-header {
    cursor: pointer;
    background-color: #f9e9e9;
    padding: 33px;
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 31.32px;
    letter-spacing: 2px;
    position: relative;
    border-radius: 32px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.thirtirth-section .accordion-header::after {
    content: '\002B'; /* "+" icon */
    position: absolute;
    left: 50px;
    font-size: 24px;
    font-weight: 300;
    transition: transform 0.3s ease;
}

.thirtirth-section .accordion-header.active::after {
    content: '\2212'; /* "-" icon */
    transform: rotate(180deg);
}

.thirtirth-section .accordion-body {
    max-height: 0;
    overflow: hidden;
    background-color: #f9e9e9;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.24px;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out, background-color 0.3s ease;
    padding: 0 33px;
}

.thirtirth-section .accordion-body.open {
    max-height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Merge background and border-radius smoothly when active */
.thirtirth-section .accordion-item.active {
    background-color: #f9e9e9;
    border-radius: 32px;
}

.thirtirth-section .accordion-item.active .accordion-header {
    border-radius: 32px 32px 0 0;
}

.thirtirth-section .accordion-item.active .accordion-body {
    border-radius: 0 0 32px 32px;
}

/* fourteenth section */
.fourteenth-section .container {
    background-color: transparent;
    background-image: linear-gradient(270deg, #FFFFFF 0%, #FFEBEB 100%);
    padding: 50px;
    border-radius: 15px;
    max-width: 1170px;
    padding-top: 18px;
    margin: 80px auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.fourteenth-section .container-custom {
    width: 50%;
}

.fourteenth-section .highlight-text h2 {
    font-family: "OpenSansHebrewCondensedExtraBold", Sans-serif;
    font-size: 68px;
    font-weight: 800;
    line-height: 45px;
    margin-right: -12px;
    color: #06193F;
}

.fourteenth-section .sub-text h2 {
    font-family: "OpenSansHebrewCondensedExtraBold", Sans-serif;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 39px;
    font-weight: 700;
    line-height: 45px;
    width: 90%;
    color: #06193F;
    display: flex;
    justify-content: center;
}

.fourteenth-section .price {
    font-family: "OpenSansHebrewCondensedExtraBold", Sans-serif;
    font-size: 93px;
    text-align: start;
   
    font-weight: 800;
    line-height: 45px;
    color: #06193F;
}

.fourteenth-section .price-content {
    text-align: start;
    color: #06193F;
    font-family: "OpenSansHebrewRegular", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.79px;
}

.fourteenth-section .btn-custom {
    background-color: transparent;
    /* width: 100%; */
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 31.32px;
    fill: #FEFAFA;
    color: #FEFAFA;
    background-image: linear-gradient(29deg, #EF687E 0%, #6B1624 100%);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 68px 68px 68px 68px;
    margin-top: 40px;
    margin-right: -20px;
    padding: 14px 172px 14px 172px;
}

.fourteenth-section .price-button-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    padding-top: 28px;
    margin-right: -70px;
}

.fourteenth-section .arrow-content {
    font-family: "OpenSansHebrewRegular", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    color: #132B59;
    position: absolute;
    left: 34%;
    top: 43%;
}

.fourteenth-section .arrow-img1 {
    width: 80px;
    margin-top: -8px;
    margin-left: 15px;
}

.fourteenth-section .last-content {
    text-align: center;
    color: #06193F;
    font-family: "OpenSansHebrewRegular", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.43px;
    margin: 6px 200px 0px 200px;
}

.fourteenth-section .devices {
    width: 97%;
    display: flex;
    margin-top: -40px;
    margin-right: -10px;

}

/* fifteenth section */
.fifteenth-section .footer-content h2 {
    font-family: "OpenSansHebrewCondensedBold", Sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    margin-top: 30px;
}

.fifteenth-section .footer-mail h2 {
    font-family: "OpenSansHebrewRegular", Sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #000000;
    text-align: center;
    letter-spacing: -1px;
}

.fifteenth-section .footer-link h2 {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    margin-bottom: 60px;
}

.fifteenth-section .footer-link h2 a {
    text-decoration: none;
    font-family: 'OpenSansHebrewRegular';
    font-size: 18px;
    font-weight: 500;
    color: #060606;
    letter-spacing: -1px;

}